@import "reset.css";
@import "font.css";
@import "colors.css";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dark-blue);
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  display: grid;
  place-items: center;
}

.advice-card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  background-color: var(--dark-grayish-blue);
}

.advice-card > #advice-id {
  display: flex;
  align-items: center;
  height: 50%;
  color: var(--neon-green);
  font-size: 0.5rem;
}

.advice-card > #advice {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--primary-cyan);
  font-size: 1rem;
}

.advice-card > .divider {
  display: flex;
  align-items: center;
  height: 50%;
  max-width: 500px;
}

.advice-card > .divider > img {
  width: 100%;
}

.advice-card > .notch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -8%;
  background-color: var(--neon-green);
  border-radius: 100%;
  cursor: pointer;
}

.advice-card > .notch:hover {
  box-shadow: 0px 0px 20px var(--neon-green);
}

@media only screen and (max-width: 375px) {
  .advice-card {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

  .advice-card > #advice {
    font-size: 0.5rem;
  }

  .advice-card > #advice-id {
    font-size: 0.25rem;
    height: 25%;
  }

  .advice-card > .divider > img {
    width: 100%;
  }

  .advice-card > .notch {
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
  }
  .advice-card > .notch > img {
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .advice-card {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

  .advice-card > #advice {
    font-size: 0.8rem;
  }

  .advice-card > #advice-id {
    font-size: 0.4rem;
    height: 25%;
  }

  .advice-card > .divider > img {
    width: 100%;
  }

  .advice-card > .notch {
    width: 40px;
    height: 40px;
    margin-bottom: -5px;
  }
  .advice-card > .notch > img {
    width: 50%;
    height: 50%;
  }
}

